<!-- Start Breadcrumbs -->
<section class="breadcrumbs overlay">
    <div class="container">
        <div class="row">
            <div class="col-12" ALIGN="right">
                <!-- <h4>pagina de Nosotros</h4> -->
                <ul class="bread-list">
                    <li><a href="index.html">Inicio<i class="fa fa-angle-right"></i></a></li>
                    <li><a >Infromación Académica<i class="fa fa-angle-right"></i></a></li>
                    <li ><a >Trámites  Académicos</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--/ End Breadcrumbs -->
<!-- About US -->
<section class="about-us section">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <div class="about-text">
                    <h4><a (click)="openbachiller();">
                            <i class="fa fa-arrow-circle-right"></i>
                            <strong>
                                Diploma del grado Académico de Bachiller
                            </strong>

                        </a></h4><br>
                    <p>Para obtener el grado académico de bachiller, deberás ser egresado de tu especialidad, es decir, haber culminado el plan de estudios de la misma y haber acreditado el conocimiento de un idioma extranjero según las normas correspondientes.</p>
                    <p>trámite permanente <br>
                        Facultades: egresados de todas las facultades</p>

                </div>
                <hr>
                <div class="about-text">
                    <h4><a (click)="opentituloprofesional();">
                            <i class="fa fa-arrow-circle-right"></i>
                            <strong>
                            Obtención del título profesional
                            </strong>

                        </a></h4><br>
                    <p>¿Deseas realizar el trámite para obtener tu título profesional?</p>
                    <p>Facultades: alumnos de Facultad de Educación</p>

                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End About US -->