		<!-- Contact Us -->
		<section id="contact" class="contact section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title">
							<h2><span>Información </span> Contacto</h2>
							<p>contactese en lasiguidirec </p>
						</div>
					</div>
				</div>
				<div class="contact-head">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-12">
							<div class="contact-map">
								<!-- Map -->
								<div id="map"></div>
								<!--/ End Map -->
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-12">
							<div class="form-head">
								<!-- Form -->
								<form class="form" action="mail/mail.php">
									<div class="form-group">
										<input name="name" type="text" placeholder="Ingrese su nombre">
									</div>
									<div class="form-group">
										<input name="email" type="email" placeholder="Dirección de correo electrónico">
									</div>
									<div class="form-group">
										<input name="subject" type="text" placeholder="Sitio web">
									</div>
									<div class="form-group">
										<textarea name="message" placeholder="Comentario"></textarea>
									</div>
									<div class="form-group">
										<div class="button">
											<button type="submit" class="btn primary">
												publicar comentario</button>
										</div>
									</div>
								</form>
								<!--/ End Form -->
							</div>
						</div>
					</div>
				</div>
				<div class="contact-bottom">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-12">
							<!-- Contact-Info -->
							<div class="contact-info">
								<div class="icon"><i class="fa fa-map"></i></div>
								<h3>Ubicación</h3>
								<p>AV universitario S/N facultad de ciencias de la Educacion</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-12">
							<!-- Contact-Info -->
							<div class="contact-info">
								<div class="icon"><i class="fa fa-envelope"></i></div>
								<h3>
									Dirección de E-mail</h3>
								<a href="mailto:information@gmail.com">information@yourwebsite.com</a><br>
								<a href="mailto:admission@myuniversity.com">admission@yourwebsite.com</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-12">
							<!-- Contact-Info -->
							<div class="contact-info">
								<div class="icon"><i class="fa fa-phone"></i></div>
								<h3>
									Ponerse en contacto</h3>
								<p>+ (51) 853 232 455669</p>
								<p>+ (51) 232 423 455600</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Contact Us -->            
