<section class="home-slider">
	<div class="slider-active">
		<!-- Single Slider {{asset('Documentos/SIGCUNSCH_MANUALCALIDAD.pdf')}}-->
		<div class="single-slider overlay" style="background-image:url('/assets/images/slider/slider01.jpg')"
		
			data-stellar-background-ratio="0.3">
			
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-8 col-12">
						<div class="slider-text">
							<h1>Bienvenidos a <span>Educación</span> Secundaria</h1>
							<p><span>Misión</span> </p><hr>
							<p style="text-align: justify;"> La Facultad de Ciencias de la Educación es una unidad académica que forma profesionales
								en educación con capacidad creativa, innovadora y liderazgo, basados en principios
								éticos y valores para el desarrollo sostenible y bienestar de la sociedad.</p>
							<!-- <div class="button">
										<a href="courses.html" class="btn primary">Nuestros Cursos</a>
										<a href="about.html" class="btn">Acerca de la Facultad</a>
									</div> -->
						</div>

					</div>
				</div>
			</div>
		</div>
		<!--/ End Single Slider -->
		<!-- Single Slider -->
		<div class="single-slider overlay" style="background-image:url('/assets/images/slider/slider02.jpg')"
			data-stellar-background-ratio="0.3">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-12">
						<div class="slider-text text-center">
							<h1>Transformando <span>La Region con una educacion </span>de calidad</h1>
							<p>Al 2021 la Facultad de Ciencias de la Educación, tendrá liderazgo y excelencia académica,
								comprometida con el desarrollo humano y la sociedad regional y nacional.</p>
							<!-- <div class="button">
										<a href="courses.html" class="btn primary">Our Courses</a>
										<a href="about.html" class="btn">About Learnedu</a>
									</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Single Slider -->
		<!-- Single Slider -->
		<div class="single-slider overlay" style="background-image:url('/assets/images/slider/slider03.jpg')"
			data-stellar-background-ratio="0.3">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-4 col-md-8 offset-md-4 col-12">
						<div class="slider-text text-right">
							<h1>#<span> SOMOS </span> CALIDAD</h1>
							<p>he aqui el texto de ...</p>
							<!-- <div class="button">
										<a href="courses.html" class="btn primary">Our Courses</a>
										<a href="about.html" class="btn">About Learnedu</a>
									</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Single Slider -->
	</div>
</section>

<!--/ End Slider Area -->