<section class="breadcrumbs overlay">

    <div class="container">
        <div class="row">
            <div class="col-12" ALIGN="right">
                <!-- <h4>Acerca de PE Matemática, Física e Informática </h4>  -->
                <ul class="bread-list">
                    <li><a href="index.html">Inicio<i class="fa fa-angle-right"></i></a></li>
                    <li><a>visión y misión</a></li>

                </ul>
            </div>
        </div>
    </div>
</section><br>
<section>
    <div class="container">
<div class="mision">
        <h3 > Visión </h3><br>

        <p>Al 2021 la Facultad de Ciencias de la Educación, tendrá liderazgo y excelencia académica, comprometida con el
            desarrollo humano y la sociedad regional y nacional.</p><br>
        <h2 >Misión </h2><br>
        <p>La Facultad de Ciencias de la Educación es una unidad académica que forma profesionales en educación con
            capacidad creativa, innovadora y liderazgo, basados en principios éticos y valores para el desarrollo
            sostenible y bienestar de la sociedad.</p> <br>
        </div>
    </div>
</section>