<section class="breadcrumbs overlay">

    <div class="container">
        <div class="row">
            <div class="col-12" ALIGN="right">
                <!-- <h4>Acerca de PE Matemática, Física e Informática </h4>  -->
                <ul class="bread-list">
                    <li><a href="index.html">Inicio<i class="fa fa-angle-right"></i></a></li>
                    <li><a>Reseña Histórica</a></li>

                </ul>
            </div>
        </div>
    </div>

</section>
<!-- Features -->
<section class="our-features section">
    <div class="container">
        <div class="row">
            <div class="col-12 wow zoomIn">
                <div class="section-title">
                    <h2> <span>RESEÑA HISTÓRICA</span></h2>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-4 col-12 wow fadeInUp" data-wow-delay="0.4s">
                <!-- Single Feature -->
                <div class="single-feature">
                    <div class="feature-head">
                        <img src="/assets/images/slider/slider02.jpg" >
                    </div>

                    <p style="text-align: justify;">La Facultad de Ciencias de la Educación, al momento de la reapertura
                        de la UNSCH, en 1959, forma
                        parte de la Facultad de Letras como Instituto de Educación.</p><br>
                    <p style="text-align: justify;">El Consejo Universitario, por acuerdo del 04 de abril de 1965,
                        dispuso la creación y funcionamiento inmediato de la Facultad de Educación con los Institutos de
                        Educación Primaria y de Educación Secundaria.</p><br>
                    <p style="text-align: justify;">La Universidad, a fin de contar con un núcleo educativo propio en el
                        que sus estudiantes de educación realizaran sus prácticas docentes, y a fin de contar, para la
                        Facultad de Educación con un Centro especial de Investigación y experimentación pedagógica, por
                        acuerdo del Consejo Universitario del 06 de setiembre de 1963, decide la construcción de los
                        Planteles de Aplicación, la misma que por autorización de la Tercera Dirección Regional de
                        Educación, funciona a partir del 04 de abril de 1964, contando con un Jardín de la Infancia,
                        Escuela de Educación Primaria y un Colegio de Educación Secundaria Común. Posteriormente
                        mediante Resolución Rectoral Nº 1648-1967 del 20 de junio de 1967 se crea la Escuela de
                        Educación Fundamental de Allpachaka.</p>
                </div>
                <!--/ End Single Feature -->
            </div>
            <div class="col-lg-6 col-md-4 col-12 wow fadeInUp" data-wow-delay="0.6s">
                <p style="text-align: justify;">El 09 de diciembre de 1983 se publica la Nueva Ley Universitaria N°
                    23733 disponiendo en su artículo
                    9° que cada Universidad organiza y establece su régimen académico por Facultades de acuerdo con sus
                    características y necesidades; así como en el artículo 12° se establece que las universidades pueden
                    organizar institutos, escuelas, centro y otras unidades con fines de investigación, docencia y
                    servicio. </p><br>
                <p style="text-align: justify;"> En el marco de dicha Ley se crea la Facultad de Ciencias de la
                    Educación, con las Escuelas de Formación Profesional de
                    Educación Inicial, Educación Primaria, Educación Física y Educación Secundaria con las
                    especialidades de
                    Lengua-Literatura, Matemática-Física, Biología-Química e Historia y Geografía con el Plan de
                    Estudios 1983.a
                </p><br>
                <p style="text-align: justify;">Luego como consecuencia de la implementación y adecuación del Plan de
                    Estudios 1996 y Plan de Estudios 2004, la Facultad de Ciencias de la Educación cuenta con las
                    Escuelas de Formación Profesional de Educación Inicial, Educación Primaria, Educación Física y
                    Educación Secundaria con las especialidades de Lengua Española y Literatura con mención en
                    Comunicación, Matemática, Física e Informática, Ciencias Naturales con mención en Primeros Auxilios,
                    Inglés y Lengua Española y Ciencias Sociales y Filosofía con mención en Turismo.</p>
                <br>
                <p style="text-align: justify;">Finalmente, como consecuencia de la publicación de la Nueva Ley
                    Universitaria N° 30220 del 08 de julio de 2014, la Universidad Nacional de San Cristóbal de
                    Huamanga, adecúa su organización Académica en Facultades, constituida por el Consejo de Facultad,
                    Decanato, Unidad de Gestión Administrativa, Unidad de Calidad Académica, Unidad de Biblioteca
                    Especializada, Escuelas Profesionales, Departamentos Académicos, Unidad de Posgrado, Unidad de
                    Investigación e Innovación, Unidad de Responsabilidad Social Universitaria y Unidad de Producción de
                    Bienes y Servicios.</p>
            </div>

        </div>
    </div>
</section>
<!-- End Features -->