
<!-- Testimonials -->
<section class="testimonials overlay section" data-stellar-background-ratio="0.5">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="testimonial-slider">
					<!-- Single Testimonial -->
					<div class="single-testimonial">
						<!--IMAGEN DE 150X150-->
						<img src="/assets/images/testimonios/profemfi.jpg" alt="#">
						<div class="main-content">
							<h4 class="name">Dr. TEODOSIO ZENOBIO POMA SOLIER</h4>
							<p>este es un comentario del presidente del programa de estrudios</p>
						</div>
					</div>
					<!--/ End Single Testimonial -->
					<!-- Single Testimonial -->
					<div class="single-testimonial">
						<img src="/assets/images/testimonios/profeile.jpg" alt="#">
						<div class="main-content">
							<h4 class="name">Dr. MARCOS DAVID CAVERO ARÓSTEGUI</h4>
							<p>este es un comentario del presidente del programa de estrudios</p>
						</div>
					</div>
					<!--/ End Single Testimonial -->
					<!-- Single Testimonial -->
					<div class="single-testimonial">
						<img src="/assets/images/testimonios/profecsf.jpg" alt="#">
						<div class="main-content">
							<h4 class="name">Dr. ANATOLIO HUARCAYA BARBARAN</h4>
							<p>este es un comentario del presidente del programa de estrudios</p>
						</div>
					</div>
					<!--/ End Single Testimonial -->
					<!-- Single Testimonial -->
					<div class="single-testimonial">
						<img src="/assets/images/testimonios/profelel.jpg" alt="#">
						<div class="main-content">
							<h4 class="name">Dr. FREDY MORALES GUTIERREZ</h4>
							<p>este es un comentario del presidente del programa de estrudios</p>
						</div>
					</div>
					<!--/ End Single Testimonial -->
				</div>
			</div>
		</div>
	</div>
</section>
<!--/ End Testimonials -->