<!-- Courses -->
<section class="courses section-bg section">
	<div class="container">
		<div class="row">
			<div class="col-12 wow zoomIn">
				<div class="section-title">
					<h2>Eduacacion Secundaria <span>Rumbo</span> a la Acreditación</h2>
					<p style="text-align: justify;">La Acreditación es el reconocimiento público y temporal de la
						institución educativa, área, programa o carrera profesional que voluntariamente ha participado
						en un proceso de evaluación de su gestión pedagógica, institucional y administrativa. Se
						considera la acreditación institucional especializada por área, programas o carreras; y
						acreditación institucional integral. </p><br>
					<p style="text-align: justify;">Si la Institución Obtiene La acreditación del SINEACE, es Garantia
						de la Calidad de Educacion que se Imparte en las Carreras y obtenemos un Reconocimiento Publico
						de Calidad</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="course-slider">
					<!-- Single Course -->
					<div class="single-course">
						<div class="course-head overlay">
							<!--imagen 370x250-->
							<img src="/assets/images/curso/ile.jpg" alt="#">
							<a href="/programa-Matemática-Física-e-Informática" class="btn"><i class="fa fa-external-link"></i></a>
						</div>
						<div class="single-content">
							<!-- <h4><a (click)="openpemfi();"></a> -->
							<h4><a href="/programa-Matemática-Física-e-Informática"><span>Programa de Estudios</span>Matemática, Física e Informática</a></h4>
							<p>Los actores que conforman este progrma de estrudops son los ... </p>
						</div>
						<!-- <div class="course-meta">
							<div class="meta-left">
								<span><i class="fa fa-users"></i>36 Seat</span>
								<span><i class="fa fa-clock-o"></i>2 Years</span>
							</div>
							
						</div> -->
					</div>
					<!--/ End Single Course -->
					<!-- Single Course -->
					<div class="single-course">
						<div class="course-head overlay">
							<img src="/assets/images/curso/lel.jpg" alt="#">
							<a (click)="openpeile();" class="btn"><i class="fa fa-external-link"></i></a>
						</div>
						<div class="single-content">
							<h4><a (click)="openpeile();"><span>Programa de Estudios</span> Inglés y Lengua Española</a></h4>
							<p>todos estamos comprometidos para la autoevaluacion y acreditacion </p>
						</div>
						<!-- <div class="course-meta">
							<div class="meta-left">
								<span><i class="fa fa-users"></i>20 Seat</span>
								<span><i class="fa fa-clock-o"></i>1 Years</span>
							</div>
							
						</div> -->
					</div>
					<!--/ End Single Course -->
					<!-- Single Course -->
					<div class="single-course">
						<div class="course-head overlay">
							<img src="/assets/images/curso/csf.jpg" alt="#">
							<a (click)="openpecsfmt();" class="btn"><i class="fa fa-external-link"></i></a>
						</div>
						<div class="single-content">
							<h4><a (click)="openpecsfmt();"><span>Programa de Estudios</span>Ciencias Sociales y Filosofía con mención en Turismo</a></h4>
							<p>El programa de estudios somo todos </p>
						</div>
						<!-- <div class="course-meta">
							<div class="meta-left">
								<span><i class="fa fa-users"></i>49 Seat</span>
								<span><i class="fa fa-clock-o"></i>2 Years</span>
							</div>
							
						</div> -->
					</div>
					<!--/ End Single Course -->
					<!-- Single Course -->
					<div class="single-course">
						<div class="course-head overlay">
							<img src="/assets/images/curso/mfi.jpg" alt="#">
							<a (click)="openpelelmc();" class="btn"><i class="fa fa-external-link"></i></a>
						</div>
						<div class="single-content">
							<h4><a (click)="openpelelmc();"><span>Programa de Estudios</span>Lengua Española y Literatura con mención en Comunicación</a></h4>
							<p>vivamos junnto con la autoevaluacio y la acreditacion </p>
						</div>
						<!-- <div class="course-meta">
							<div class="meta-left">
								<span><i class="fa fa-users"></i>36 Seat</span>
								<span><i class="fa fa-clock-o"></i>2 Years</span>
							</div>
							
						</div> -->
					</div>
					<!--/ End Single Course -->
				
					
				</div>
			</div>
		</div>
	</div>
</section>
<!--/ End Courses -->