<!-- Start Breadcrumbs -->
<section class="breadcrumbs overlay">
    <div class="container">
        <div class="row">
            <div class="col-12" ALIGN="right">
                <!-- <h4>pagina de Nosotros</h4> -->
                <ul class="bread-list">
                    <li><a href="index.html">Inicio<i class="fa fa-angle-right"></i></a></li>
                    
                    <li ><a >Nosotros</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--/ End Breadcrumbs -->
    <!--About US -->

<section class="about-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                                                        
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/1_VxOfPK-mQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                
            </div>
            <div class="col-lg-6 col-12">
                <div class="about-text">
                    <h3>Acerca de nuestra educación</h3>
                    <p style="text-align: justify;">Forma al profesional para que asume la responsabilidad de capacitar
                        integralmente a los adolescentes y
                        jóvenes y conducir el proceso de enseñanza-aprendizaje usando los mejores métodos y estrategias
                        didácticas de manera racional y científica. Al finalizar con su carrera estará en condiciones de
                        ejercer la docencia en el nivel secundario y universitario, de acuerdo a su especialidad;
                        promover,
                        organizar y dirigir instituciones educativas y desarrollar trabajos de investigación pedagógica.
                        Se otorga el diploma de:</p>
                    <p>Grado Académico de Bachiller en Ciencias de la Educación.</p>
                    <p>Título Profesional de Licenciado(a) en Educación Secundaria, Especialidad de:</p>
                    <ul>
                        <li> Lengua Española y Literatura con mención en Comunicación.</li>
                        <li> Matemática, Física e Informática </li>
                        <li> Inglés y Lengua Española </li>
                        <li> Ciencias Sociales y Filosofía con mención en Turismo </li>
                    </ul>
                    <!-- <div class="button">
                        <a href="#" class="btn">Nuestros cursos</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End About US -->

<!-- Fun Facts -->
<app-hechos></app-hechos> 
<!--/ End Fun Facts -->

<!-- Team -->
<section class="team section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Nuestros  <span>Autoridades</span></h2>
                    <p>Continuamos creciendo a pasos agigantados y nada nos detendrá, porque nuestro 
                        mensaje y objetivo es el darle la mejor educación a los futuros sancristobalinos </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Single Team -->
                <div class="single-team">
                    <!--tama;o d eimagen 275x370-->
                    <img src="/assets/images/team/equipo1.jpg" alt="#">
                    <div class="team-hover">
                        <h4>Jaime Urrutia Ceruti<span>Historiador </span></h4>
                        <p>Bachiller en Ciencias Sociales y Licenciado en Historia por la Universidad
                            Nacional de San Cristóbal de Huamanga. Ayacucho, Per...</p>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li> <button type="button" class="btn btn-outline-warning btn-sm" (click)="openprofe01();">Ver mas</button></li>
                        </ul>
                    </div>
                </div>
                <!--/ End Single Team -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Single Team -->
                <div class="single-team active">
                    <img src="/assets/images/team/equipo2.jpg" alt="#">
                    <div class="team-hover">
                        <h4 class="name">Jesús Enrique Gonzales Carré<span class="work">antropólogo</span></h4>
                        <p>es Antropólogo por la Universidad Nacional de San Cristóbal de Huamanga,
                            donde fue profesor por más de ...</p>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!--/ End Single Team -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Single Team -->
                <div class="single-team">
                    <img src="/assets/images/team/equipo3.jpg" alt="#">
                    <div class="team-hover">
                        <h4 class="name">César Abilio Vergara Figueroa<span class="work">antropólogo </span></h4>
                        <p>cApodos. La reconstrucción de identidades. estética de cuerpo, deseo, poder y psicología
                            popula..7</p>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!--/ End Single Team -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Single Team -->
                <div class="single-team">
                    <img src="http://via.placeholder.com/275x370" alt="#">
                    <div class="team-hover">
                        <h4 class="name">José Coronel Aguirre<span class="work">JS Developer</span></h4>
                        <p>Antropólogo de profesión, fue docente de la Facultad de Ciencias Sociales de la Universidad
                            Nacional de San Cri...</p>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!--/ End Single Team -->
            </div>
        </div>
    </div>
</section>
<!--/ End Team -->
