
  <app-header> </app-header>
  <!-- <app-home> </app-home> -->
  <!-- <router-outlet></router-outlet> -->
  
  <router-outlet (activate)="onActivate($event)" ></router-outlet>  
  <!-- //excepcioal para activar top -->

  <!-- <app-caracteristicas> </app-caracteristicas> -->
  <!-- <app-inscribirse> </app-inscribirse> -->
  <!-- <app-cursos></app-cursos> -->
  <!-- <app-llamada></app-llamada> -->
  <!-- <app-equipo> </app-equipo> -->
  <!-- <app-testimonios> </app-testimonios> -->
  <!-- <app-eventos> </app-eventos> -->
  <!-- <app-hechos></app-hechos> -->
  <!-- <app-blogs> </app-blogs> -->
  <app-footer></app-footer>

  
