		<!-- Footer -->
		<footer class="footer overlay section">
			<!-- Footer Top -->
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-12">
							<!-- About -->
							<div class="single-widget about">
								<div class="logo"><a href="#"><img src="assets/images/logo02.png" alt="#"></a></div>
								<p>Educacion Secundaria rumbo a la Acreditación</p>
								<ul class="list">
									<li><i class="fa fa-phone"></i>Teléfono: 066 317717 </li>
									<li><i class="fa fa-phone"></i>Celular: 921 770 584 </li>
									<li><i class="fa fa-envelope"></i>Email: <a href="ep.secundaria@unsch.edu.pe">ep.secundaria@unsch.edu.pe</a></li>
									<li><i class="fa fa-map-o"></i>Direccion: av independencia S/N</li>
								</ul>
							</div>
							<!--/ End About -->
						</div>
						<div class="col-lg-2 col-md-6 col-12">
							<!-- Useful Links -->
							<div class="single-widget useful-links">
								<h2>Menu</h2>
								<ul>
									<li><a href="/"><i class="fa fa-angle-right"></i>Inicio</a></li>
									<li><a (click)="openabout();"><i class="fa fa-angle-right"></i>Nosotros</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>Cursos</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>Eventos</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i>Blogs</a></li>
									<li><a (click)="opencontacto();"><i class="fa fa-angle-right"></i>Contact</a></li>
								</ul>
							</div>
							<!--/ End Useful Links -->
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<!-- Useful Links 2 -->
							
							<div class="single-widget useful-links">
								<h2>Enlaces útiles-UNSCH</h2>
								<ul>
									
									<li><a href="http://www.unsch.edu.pe/resoluciones/resoluciones_emitidas_list.php" target="_blank"><i class="fa fa-external-link"></i> Resoluciones emitidas </a></li>
									
									
								</ul>
							</div>
							<!--/ End Useful Links -->
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<!-- Useful Links 2 -->
							
							<div class="single-widget useful-links">
								<h2>Enlaces útiles Global</h2>
								<ul>
									
									<li><a href="https://www.gob.pe/concytec" target="_blank"><i class="fa fa-chevron-right"></i> CONCYTEC </a></li>
									<li><a href="https://www.gob.pe/sineace/" target="_blank"><i class="fa fa-chevron-right"></i>SINEACE</a></li>
									<li><a href="https://www.gob.pe/sunedu" target="_blank"><i class="fa fa-chevron-right"></i>SUNEDU</a></li>
									<li><a href="https://cppe.org.pe/" target="_blank"><i class="fa fa-chevron-right"></i>CPPe</a></li>
									<li><a href="https://accounts.google.com/" target="_blank"><i class="fa fa-chevron-right"></i>GMAIL</a></li>
									
								</ul>
							</div>
							<!--/ End Useful Links -->
						</div>
					</div>
				</div>
			</div>
			<!--/ End Footer Top -->
			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="bottom-head">
								<div class="row">
									<div class="col-12">
										<!-- Social -->
										<ul class="social">
											<li><a href="#"><i class="fa fa-twitter  fa-2x" ></i></a></li>
											<li><a href="https://www.facebook.com/EP-Educaci%C3%B3n-Secundaria-UNSCH-100280661687646/"><i class="fa fa-facebook fa-2x"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus fa-2x"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin fa-2x"></i></a></li>
											<li><a href="#"><i class="fa fa-youtube fa-2x"></i></a></li>
										</ul>
										<!-- End Social -->
										<!-- Copyright -->
										<div class="copyright">
											<p>© Copyright 2020 <a >Educ. Secundaria</a>. Todos los derechos reservados</p>
										</div>
										<!--/ End Copyright -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Footer Bottom -->
		</footer>
		<!--/ End Footer -->
