<!-- Start Breadcrumbs -->
<section class="breadcrumbs overlay">
    <div class="container">
        <div class="row">
            <div class="col-12" ALIGN="right">
                <!-- <h4>pagina de Nosotros</h4> -->
                <ul class="bread-list">
                    <li><a href="index.html">Inicio<i class="fa fa-angle-right"></i></a></li>
                    <li><a>Informacion Académica<i class="fa fa-angle-right"></i></a></li>
                    <li><a>Respositorio de estudiantes</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--/ End Breadcrumbs -->
<section class="faq page section" >
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Repositorio de trabajos de estudiantes</h2>
                    <p>Estos materiales y herramientas pertenecen al repositorio de trabajos de estudiantes de la
                        Facultad de Educación UNSCH</p>
                    <p>Todos los videos se encuentran compartidos también en nuestro<a target="_blank"
                            href="https://www.youtube.com/channel/UCQKkKRYcRmk35p_e3_H97nw"> Canal de YouTube.</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-12">
                <div class="faq-content">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <!-- Single Faq -->
                            <div class="faq-heading" id="FaqTitle1">
                                <h4 class="faq-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                        href="#faq1">Estrategias de Lectura para niños de Educación Primaria</a>
                                </h4>
                            </div>
                            <div id="faq1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="FaqTitle1">
                                <div class="faq-body">
                                    <p><iframe
                                            src="https://www.facebook.com/plugins/video.php?height=308&href=https%3A%2F%2Fweb.facebook.com%2FUNSCHOficinaGeneralDeImagenInstitucional%2Fvideos%2F2408531176120539%2F&show_text=false&width=560"
                                            width="560" height="315" frameborder="0"
                                            allowfullscreen="allowfullscreen"></iframe></p>
                                    <br>
                                    <p><strong>FICHA TÉCNICA</strong></p>
                                    <br>
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td style="width: 175px;">Tipo de recurso</td>
                                                <td>video</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">Estudiante</td>
                                                <td>Natalia Elvira Vidal Laura</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">Docente asesor</td>
                                                <td>María de los Angeles Sánchez Trujillo</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">Descripción</td>
                                                <td>El video presenta seis estrategias didácticas
                                                    para promover una lectura comprensiva: muestreo, predicción,
                                                    anticipación, confirmación y autocorrección, inferencia y
                                                    metacomprensión. Está dirigido a docentes de educación primaria.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">Referencias</td>
                                                <td>El diseño de las diapositivas se realizó con
                                                    una plantilla de Slidesgo www.slidesgo.com</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--/ End Single Faq -->
                        </div>
                        <div class="panel panel-default active">
                            <!-- Single Faq -->
                            <div class="faq-heading" id="FaqTitle2">
                                <h4 class="faq-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                        href="#faq2">Simple and elegant template with tons of features.</a>
                                </h4>
                            </div>
                            <div id="faq2" class="panel-collapse collapse show" role="tabpanel"
                                aria-labelledby="FaqTitle2">
                                <div class="faq-body">
                                    <iframe src="https://www.sineace.gob.pe/wp-content/uploads/2014/08/Anexo-1-nuevo-modelo-programas-Resolucion-175.pdf" style="width:700px; height:375px;" frameborder="0"></iframe>
                                    <!-- <iframe src="/assets/prueba.pdf" style="width:700px; height:375px;" frameborder="0"></iframe> -->
                                    <!-- <p><iframe src="https://www.youtube.com/embed/3yzgkl4SEAA" width="560" height="315"
                                            frameborder="0" allowfullscreen="allowfullscreen"></iframe></p> -->
                                    <br>
                                    <p><strong>FICHA TÉCNICA</strong></p>
                                    <br>
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td style="width: 175px;">Tipo de recurso</td>
                                                <td>video</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">Estudiante</td>
                                                <td>Natalia Elvira Vidal Laura</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">Docente asesor</td>
                                                <td>María de los Angeles Sánchez Trujillo</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">Descripción</td>
                                                <td>El video presenta seis estrategias didácticas
                                                    para promover una lectura comprensiva: muestreo, predicción,
                                                    anticipación, confirmación y autocorrección, inferencia y
                                                    metacomprensión. Está dirigido a docentes de educación primaria.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">Referencias</td>
                                                <td>El diseño de las diapositivas se realizó con
                                                    una plantilla de Slidesgo www.slidesgo.com</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--/ End Single Faq -->
                        </div>
                        <div class="panel panel-default">
                            <!-- Single Faq -->
                            <div class="faq-heading" id="FaqTitle3">
                                <h4 class="faq-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                        href="#faq3">Our Campus launches new software channel</a>
                                </h4>
                            </div>
                            <div id="faq3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="FaqTitle3">
                                <div class="faq-body">
                                    <p><iframe src="https://www.youtube.com/embed/GDGFFICJrPM" width="560" height="315"
                                            frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
                                    <br>
                                    <p><strong>FICHA TÉCNICA</strong></p>
                                    <br>
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td style="width: 175px;">Tipo de recurso</td>
                                                <td>video</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">Estudiante</td>
                                                <td>Natalia Elvira Vidal Laura</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">Docente asesor</td>
                                                <td>María de los Angeles Sánchez Trujillo</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">Descripción</td>
                                                <td>El video presenta seis estrategias didácticas
                                                    para promover una lectura comprensiva: muestreo, predicción,
                                                    anticipación, confirmación y autocorrección, inferencia y
                                                    metacomprensión. Está dirigido a docentes de educación primaria.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">Referencias</td>
                                                <td>El diseño de las diapositivas se realizó con
                                                    una plantilla de Slidesgo www.slidesgo.com</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--/ End Single Faq -->
                        </div>
                        <div class="panel panel-default">
                            <!-- Single Faq -->
                            <div class="faq-heading" id="FaqTitle4">
                                <h4 class="faq-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                        href="#faq4">Simple and elegant template with tons of features.</a>
                                </h4>
                            </div>
                            <div id="faq4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="FaqTitle4">
                                <div class="faq-body">We began our operations a few decades ago and have grown due to
                                    excellent relationships with our clients. We started out small, with just a few
                                    people and a small office, but today we have offices in multiple countries with
                                    hundreds of people working inside them. We started out small, with just a few
                                    people.<p><iframe src="https://www.youtube.com/embed/80TfNNY8oD8" width="560"
                                            height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
                                    <br>
                                    <p><strong>FICHA TÉCNICA</strong></p>
                                    <br>
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td style="width: 175px;">Tipo de recurso</td>
                                                <td>video</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">Estudiante</td>
                                                <td>Natalia Elvira Vidal Laura</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">Docente asesor</td>
                                                <td>María de los Angeles Sánchez Trujillo</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">Descripción</td>
                                                <td>El video presenta seis estrategias didácticas
                                                    para promover una lectura comprensiva: muestreo, predicción,
                                                    anticipación, confirmación y autocorrección, inferencia y
                                                    metacomprensión. Está dirigido a docentes de educación primaria.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">Referencias</td>
                                                <td>El diseño de las diapositivas se realizó con
                                                    una plantilla de Slidesgo www.slidesgo.com</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--/ End Single Faq -->
                        </div>
                        <div class="panel panel-default">
                            <!-- Single Faq -->
                            <div class="faq-heading" id="FaqTitle5">
                                <h4 class="faq-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                        href="#faq5">Our Campus launches new software channel</a>
                                </h4>
                            </div>
                            <div id="faq5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="FaqTitle5">
                                <div class="faq-body">
                                    <p><iframe src="https://www.youtube.com/embed/80TfNNY8oD8" width="560" height="315"
                                            frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
                                    <br>
                                    <p><strong>FICHA TÉCNICA</strong></p>
                                    <br>
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td style="width: 175px;">Tipo de recurso</td>
                                                <td>video</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">Estudiante</td>
                                                <td>Natalia Elvira Vidal Laura</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">Docente asesor</td>
                                                <td>María de los Angeles Sánchez Trujillo</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">Descripción</td>
                                                <td>El video presenta seis estrategias didácticas
                                                    para promover una lectura comprensiva: muestreo, predicción,
                                                    anticipación, confirmación y autocorrección, inferencia y
                                                    metacomprensión. Está dirigido a docentes de educación primaria.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">Referencias</td>
                                                <td>El diseño de las diapositivas se realizó con
                                                    una plantilla de Slidesgo www.slidesgo.com</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--/ End Single Faq -->
                        </div>
                        <div class="panel panel-default">
                            <!-- Single Faq -->
                            <div class="faq-heading" id="FaqTitle6">
                                <h4 class="faq-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                        href="#faq6">Simple and elegant template with tons of features.</a>
                                </h4>
                            </div>
                            <div id="faq6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="FaqTitle6">
                                <div class="faq-body">
                                    <p><iframe src="https://www.youtube.com/embed/80TfNNY8oD8" width="560" height="315"
                                            frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
                                    <br>
                                    <p><strong>FICHA TÉCNICA</strong></p>
                                    <br>
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td style="width: 175px;">Tipo de recurso</td>
                                                <td>video</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">Estudiante</td>
                                                <td>Natalia Elvira Vidal Laura</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">Docente asesor</td>
                                                <td>María de los Angeles Sánchez Trujillo</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">Descripción</td>
                                                <td>El video presenta seis estrategias didácticas
                                                    para promover una lectura comprensiva: muestreo, predicción,
                                                    anticipación, confirmación y autocorrección, inferencia y
                                                    metacomprensión. Está dirigido a docentes de educación primaria.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">Referencias</td>
                                                <td>El diseño de las diapositivas se realizó con
                                                    una plantilla de Slidesgo www.slidesgo.com</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--/ End Single Faq -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Faqs -->