<!-- <section class="breadcrumbs overlay">

    <div class="container">
        <div class="row">
            <div class="col-12" ALIGN="right">
                
                <ul class="bread-list">
                    <li><a href="index.html">Inicio<i class="fa fa-angle-right"></i></a></li>
                    <li><a>Docentes<i class="fa fa-angle-right"></i></a></li>
                    <li><a>ingles Lengua española</a></li>

                </ul>
            </div>
        </div>
    </div>

</section> -->


<section class="events single section">
    <div class="container">
       
        <div class="row">
            <div class="col-lg-3 col-12">

                

                    <div class="docente">
                        
                        <hr>
                        <ul>
                            <li><i class="fa fa-angle-double-left"></i><a (click)="opendocente();"> Docentes</a></li>
                            <li><i class="fa fa-angle-double-right"></i><a (click)="openlel();"> Lengua Española y
                                    Literatura</a>
                            </li>
                            <li><i class="fa fa-angle-double-right"></i><a (click)="openmfi();"> Matemática, Física e
                                    Informática</a>
                            </li>
                            <li><i class="fa fa-angle-double-right"></i><a (click)="openile();"> Inglés y Lengua
                                    Española </a></li>
                            <li><i class="fa fa-angle-double-right"></i><a (click)="opencsf();"> Ciencias Sociales y
                                    Filosofía</a>
                            </li>
                        </ul>
                        <hr>


                    </div>
              

            </div>
            <div class="col-lg-9 col-12">

                <h3 class="title" ><i class="fa fa-users"></i>
                    Inglés y Lengua Española

                </h3>
                <table class="table">
                    <thead class="p-1 mb-2 bg-dark text-white">
                        <tr>
                            <th scope="col">N°</th>
                            <th scope="col">Nombres y Apellidos </th>

                            <th scope="col">Condicion</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Cargo Comisión</th>
                            <th scope="col">Acciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <th scope="row"></th>

                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td> <button type="button" class="btn btn-info btn-sm"> Perfil <i
                                        class="fa fa-angle-right"></i></button></td>
                        </tr>



                    </tbody>
                </table>




            </div>
        </div>
    </div>




</section>