
<section class="breadcrumbs overlay">
    
    <div class="container">
        <div class="row">
            <div class="col-12" ALIGN="right">
                 <!-- <h4>Acerca de PE Matemática, Física e Informática </h4>  -->
                <ul class="bread-list">
                    <li><a href="index.html">Inicio<i class="fa fa-angle-right"></i></a></li>
                    <li><a >Programas<i class="fa fa-angle-right"></i></a></li>
                    <li  ><a  >Matemática, Física e Informática</a></li>
                </ul>
            </div>
        </div>
    </div> 
    
</section>


<section class="events single section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="single-event">
                    <div class="event-gallery">
                        <div class="single-gallery">
                            <img src="assets/images/eventos/evento1.jpg" alt="#">
                        </div>
                        <div class="single-gallery">
                            <img src="assets/images/eventos/evento2.jpg" alt="#">
                        </div>
                        <div class="single-gallery">
                            <img src="assets/images/eventos/evento3.jpg" alt="#">
                        </div>
                    </div>

                </div>
                <div class="learnedu-sidebar">
                    <!-- Categories -->
                    <div class="single-widget categories">
                        <h3 aling class="title" class="p-1 mb-1 bg-secondary text-dark"><i class="fa fa-users"></i>
                            Comité interno de Autoevaluación y Acreditación
                        </h3>

                        <ul>
                            <!-- <li><a href="#"><i class="fa fa-angle-right"></i>Education Tips</a></li> -->

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">N°</th>
                                        <th scope="col">Nombres y Apellidos</th>
                                        <th scope="col">Cargo</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Dr. TEODOSIO ZENOBIO POMA SOLIER</td>
                                        <td>Presidente</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Dr. TEODOSIO ZENOBIO POMA SOLIER</td>
                                        <td>Miembro</td>
                                    </tr>

                                </tbody>
                            </table>
                        </ul>
                    </div>
                    <div class="single-widget categories">
                        <h3 aling class="title" class="p-1 mb-1 bg-secondary text-dark"><i class="fa fa-leanpub"></i>
                            Comisión de
                            tutoría
                        </h3>

                        <ul>
                            <!-- <li><a href="#"><i class="fa fa-angle-right"></i>Education Tips</a></li> -->

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">id</th>
                                        <th scope="col">Nombres y Apellidos</th>
                                        <th scope="col">Cargo</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Dr. TEODOSIO ZENOBIO POMA SOLIER</td>
                                        <td>Presidente</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Dr. TEODOSIO ZENOBIO POMA SOLIER</td>
                                        <td>Miembro</td>
                                    </tr>

                                </tbody>
                            </table>
                        </ul>
                    </div>
                </div>
                <div class="learnedu-sidebar">

                    <div class="single-widget course">
                        <h3>Plan <span>de Estudios</span></h3>
                        <ul>
                            <li><i class="fa fa-chevron-circle-right"></i><a
                                    href="http://209.45.73.27/wp-content/uploads/2019/10/PROGRAMA_P07_EDUCACI%C3%93N-SECUNDARIA_LENGUA-ESPA%C3%91OLA-Y-LITERATURA.pdf"
                                    target="_blank"> PLAN DE ESTUDIOS 2004</a></li>
                            <li><i class="fa fa-chevron-circle-right"></i><a href=""> PLAN DE ESTUDIOS 2018</a></li>
                        </ul>
                        <hr>
                        <h3>MALLA <span>CURRICULAR</span></h3>
                        <ul>
                            <li><i class="fa fa-chevron-right"></i><a
                                    href="http://209.45.73.27/wp-content/uploads/2019/10/PROGRAMA_P07_EDUCACI%C3%93N-SECUNDARIA_LENGUA-ESPA%C3%91OLA-Y-LITERATURA.pdf">
                                    MALLA CURRICULAR 2018</a></li>
                            <li><i class="fa fa-chevron-right"></i><a href=""> DISEÑO CURRICULAR EP MATEMÁTICA 2018</a>
                            </li>

                        </ul>

                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-12">

                <div class="about-text">

                    <h3>Matemática, Física e Informática</h3>
                    <h4><i class="fa fa-space-shuttle"></i>CUI (170800486)</h4>
                    <hr>
                    <h4>Dr. TEODOSIO ZENOBIO POMA SOLIER </h4>
                    <p>(Director)</p><br>
                    <h6>Misión</h6>

                    <p style="text-align: justify;">La Facultad de Ciencias de la Educación es una unidad académica que
                        forma profesionales en educación con capacidad creativa, innovadora y liderazgo, basados en
                        principios éticos y valores para el desarrollo sostenible y bienestar de la sociedad.</p>
                    <br>
                    <h6> Formación </h6>
                    <p style="text-align: justify;">face physical experiences, and bringing their essence to life, not
                        only through digital immersion creativity but through new technology as well including Virtual
                        Reality As marketing professionals in the experiential world, we have become accusto to the idea
                        of an ever evolving industry. Brands today are moving away from purely face to face physical
                        experiences,</p>
                    <hr>
                    <h6>Perfil Profesional</h6>
                    <ol>
                        <li>
                            <p>
                                Conoce el proceso de elaboración del currículo utilizando metodologías participativas
                                adaptadas a la diversidad cultural de los estudiantes.</p>
                        </li>
                        <li>
                            <P> Diseña y promueve espacios de aprendizaje en su especialidad, propiciando los valores
                                universales, la igualdad de derechos y oportunidades entre varones y mujeres, la
                                formación
                                ciudadana y el respeto de los derechos humanos.</P>
                        </li>
                        <li>
                            <P> Desarrolla destrezas y habilidades sociales necesarias para fomentar el aprendizaje
                                y la convivencia en el aula, así como afrontar los problemas de indisciplina y solución
                                de conflictos.</P>
                        </li>
                        <li>
                            <p> Trabaja en equipo para el tratamiento del Proyecto Educativo Regional (PER),
                                Proyecto Educativo Local (PEL) y la diversificación curricular.</p>
                        </li>
                    </ol>
                    <div class="elementor-text-editor elementor-clearfix">
                        <p><strong>Duración de los estudios:</strong>
                            <br>5 años (10 semestres académicos)
                            <br><strong>Grado académico:</strong>
                            <br>Bachiller en Ciencias de la Educación
                            <br><strong>Título profesional:</strong>
                            <br>Licenciado(a) en Educación Secundaria,
                            <br><strong>Especialidad:</strong>
                            <br>– Matemática, Física e Informática

                    </div>
                </div>
                <hr>
                <p> DIRECCIÓN: Av. independencia s/n cuadra 34.ayacucho 1-Perú Ciudad Universitaria. UNSCH</p>
                <p> TELEFONO: +(51) 619 4000 Anexo 1610</p>
                <p> CORREO: pemfi@unsch.edu.pe</p>
            </div>
        </div>
    </div>



    
</section>