	<!-- Events -->
    <section class="events single section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="single-event">
                        <div class="event-gallery">
                            <div class="single-gallery">
                                <img src="http://via.placeholder.com/690x460" alt="#">
                            </div>
                            <div class="single-gallery">
                                <img src="http://via.placeholder.com/690x460" alt="#">
                            </div>
                            <div class="single-gallery">
                                <img src="http://via.placeholder.com/690x460" alt="#">
                            </div>
                        </div>
                        <div class="event-content">
                            <div class="meta"> 
                                <span><i class="fa fa-calendar"></i>05 June 2018</span>
                                <span><i class="fa fa-clock-o"></i>12.00-5.00PM</span>
                            </div>
                            <h2><a href="event-single.html">Best Student Award Day 2018</a></h2>
                            <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words</p>
                            <img src="http://via.placeholder.com/500x330" alt="#">
                            <p> littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humours</p>
                            <div class="book-now">
                                <div class="button">
                                    <a href="#" class="btn">Book Now</a>
                                </div>
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus "></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="learnedu-sidebar">
                        <div class="search">
                            <div class="form">
                                <input type="email" placeholder="Search ...">
                                <button class="button" href="#"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <!-- Categories -->
                        <div class="single-widget categories">
                            <h3 class="title">Categories</h3>
                            <ul>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Education Tips<span>16</span></a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>General Knowledge<span>30</span></a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Tips for success<span>80</span></a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Student Life<span>23</span></a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Courses<span>28</span></a></li>
                            </ul>
                        </div>
                        <!--/ End Categories -->
                        <div class="single-widget course">
                            <h3>Popular <span>Courses</span></h3>
                            <!-- Single Course -->
                            <div class="single-course">
                                <img src="http://via.placeholder.com/150x150" alt="#">
                                <div class="course-content">
                                    <h4><a href="#">Web Design Course</a></h4>
                                    <div class="meta">$900.00, <span><i class="fa fa-clock-o"></i>3 Years</span></div>
                                </div>
                            </div>
                            <!-- Single Course -->
                            <!-- Single Course -->
                            <div class="single-course">
                                <img src="http://via.placeholder.com/150x150" alt="#">
                                <div class="course-content">
                                    <h4><a href="#">Business Management Course</a></h4>
                                    <div class="meta">$150.00, <span><i class="fa fa-clock-o"></i>1 Year</span></div>
                                </div>
                            </div>
                            <!-- Single Course -->
                            <!-- Single Course -->
                            <div class="single-course">
                                <img src="http://via.placeholder.com/150x150" alt="#">
                                <div class="course-content">
                                    <h4><a href="#">Software Engineer Course</a></h4>
                                    <div class="meta">$500.00, <span><i class="fa fa-clock-o"></i>6 Month</span></div>
                                </div>
                            </div>
                            <!-- Single Course -->
                            <!-- Single Course -->
                            <div class="single-course">
                                <img src="http://via.placeholder.com/150x150" alt="#">
                                <div class="course-content">
                                    <h4><a href="#">Master in website Development Course</a></h4>
                                    <div class="meta">$200.00, <span><i class="fa fa-clock-o"></i>1 Year</span></div>
                                </div>
                            </div>
                            <!-- Single Course -->
                            <!-- Single Course -->
                            <div class="single-course">
                                <img src="http://via.placeholder.com/150x150" alt="#">
                                <div class="course-content">
                                    <h4><a href="#">Zero to Hero Cources</a></h4>
                                    <div class="meta">$300.00, <span><i class="fa fa-clock-o"></i>2 Years</span></div>
                                </div>
                            </div>
                            <!-- Single Course --> 
                        </div>
                        <div class="single-widget tags">
                            <h3>Recent <span>Tags</span></h3>
                            <ul>
                                <li><a href="#">Course</a></li>
                                <li><a href="#">University</a></li>
                                <li><a href="#">Scholarship</a></li>
                                <li><a href="#">Free</a></li>
                                <li><a href="#">Standard</a></li>
                                <li><a href="#">Standard</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ End Events -->